.btn{
  position: fixed;
  z-index: 100;
  top:49vh;
  left:Calc(50vw - 75px);
  background:green;
  color:white;
  padding:10px;
  font-size: 16px;
  border-radius: 20px;
  cursor: pointer;
  width:150px;
}

.videoWrapper{
  width:100vw;
  height:100vh;
  background:red;
}

.videoPlayer{
  object-fit: fill;
}